//height의 기본값은 2rem입니다.
//height가 변경되면 ul-flexible의 전달인자를 수정해주세요.
$TitleHeight: 2rem;

@mixin fixedTitle($height) {
  $TitleHeight: $height;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: $TitleHeight;
  // background-color: green;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//타이틀의 height를 전달인자로 넣어주세요!
//이유는 li의 중앙정렬를 위함입니다.
@mixin ul-flexible {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  // background-color: red;
  height: 100%;
  // font-size: 1rem;
  > div {
    cursor: pointer;
    height: 100%;
    margin-right: 3rem;
    // background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
      div {
        color: red;
        border-top: 0.1px solid rgba($color: #df0505e3, $alpha: 0.4);
      }
    }
    .nav__menu-bottomLine {
      width: 100%;
      color: white;
      transition: all 250ms ease-in;
    }
  }
}

@mixin logo-center($width: 2rem) {
  position: absolute;
  width: $width;
  left: 50%;
  margin-left: -($width / 2);
  display: flex;
  justify-content: center;
}

@mixin nav-searchIcon {
  // background-color: grey;
  height: 100%;
  width: 4rem;
  // font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
