@import "bower_components/animatewithsass/animate";
@import "_headnav";

body {
  font-size: 10px;
}

nav > .nav-topfixed {
  font-size: 1rem;
  z-index: 9999;
  @include fixedTitle(5rem);

  .nav__menu-flexible {
    @include ul-flexible;
  }
  .nav__logo {
    font-size: 2rem;
    div {
      transform: rotate(-30deg);
      margin-left: -0.3rem;
    }
    @include logo-center(5rem);
  }
  .nav__search {
    @include nav-searchIcon;
  }
}

.content__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 100%;
  .imgColumn {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    img {
      width: 100%;
      grid-row: auto;
    }
  }
  .explanationColumn {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    .text__wrapper-explanation {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-row: auto;
    }
  }
}

.content__phrase {
  .content__phrase__wrapper {
    background-color: rgba($color: #faee41, $alpha: 1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40rem;
  }
}
.phrase__title {
  font-size: 2rem;
}
.phrase__content {
  font-size: 2rem;
  word-break: keep-all;
  width: 50%;
  text-align: center;
}
